<!DOCTYPE html>

<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../partials/header.ejs %>
  </header>

    <section class="feed">
      <ul>
        <% entries.forEach(function(entry) { %>
          <li><% entry.author %> <% entry.date_posted %></li>
          <li><% entry.img_url %></li>
          <li><% entry.date_posted %></li>
        <% }); %>
      </ul>
    </section>



</body>
</html>
